name: Node.js CI

on: [push]

jobs:
  container-job:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node: ["20.x", "22.x", "24.x"]
        os: [ubuntu-24.04]

    steps:
      - name: Check out repository code
        uses: actions/checkout@v6

      - name: Setup
        run: npm i -g @antfu/ni

      - name: Install
        run: nci

      - name: Test
        run: nr test
